/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */
body{
    font-family: 'Quicksand', sans-serif;
    
}

   .jumbotron-header {
    background-image:url('../styles/afbeeldingen/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -230px;
    height: 40em;
    
    margin-bottom: 0px;
    

} 

.logo{
    margin-top: 10em;
   
}

.fa-chevron-down{
    color:#fff;
    margin-top: 5em; 
    
  
}
a .fa-chevron-down:hover{
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 100%;

}
.jumbotron-album-kranium, .jumbotron-album-wizkid, .jumbotron-album-jonas{
   
    background-color: #000000;
    margin-bottom: 0px;    
}







.album-info{
    background-color: #000000;
    padding:45px;
    text-align: center;
    color: #fff;
    font-weight: 500;

}

.playlist{
    background-color: #1e1e1e;
    
}

table{
    visibility: hidden;
    color: #fff;
    
}

.capital{
    text-transform: uppercase;
}

.album{
    font-size: 12px;
}

.btn-outline-secondary {
    border-color: #e3bc1c;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0px;
    margin-top: 30px;
}

.btn-outline-secondary:hover{
    background-color: #e3bc1c;
    border-color: #e3bc1c;
    border-radius: 0px
}
 .jumbotron-bio{
    background-color: #fff !important;
    margin-top: 0px;
    margin-right: 15px;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    
 }

.album-bio-kranium, .album-bio-wizkid, .album-bio-jonas{
    background-color: #fff;
    padding-top: 45px;
    margin-top: -470px;
    padding-left:30px;
    padding-right: 20px;
}

.album-bio-wizkid{
    margin-top: -450px;

}

.album-bio-jonas{
    margin-top: -740px;
    }

.album-text{
    text-align: justify;
    text-justify: inter-word;
    line-height: 190%;
}

.italic{
    font-style: italic ;
    
}

h3{
    text-align: center;
}

h3:first-child{
    margin-top: 10px;
    
    
}

h3:nth-child(2){
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 700;
    

}

footer{
    background-color: #e3bc1c;
    margin-top: -35px;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;

}

.footer-logo{
    width:5em;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}




/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .jumbotron-header {
        height: 50em;
        background-position-x: 0px;
       
        
    
    }
   

    .jumbotron-album-kranium{
        
        background-image: url('../styles/afbeeldingen/kranium-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -32px;
        
       
        
    }

    .jumbotron-album-wizkid{
        
        background-image: url('../styles/afbeeldingen/wizkid-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -32px;
        
       
        
    }

    .jumbotron-album-jonas{
        
        background-image: url('../styles/afbeeldingen/jonas-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -32px;
        
       
        
    }

    .album-info{
        padding: 10px;
       
        text-align: left;
        background-color: transparent;
        
    }

    .btn-outline-secondary {
       margin-top: 10px;
        font-size: 10px;
    }
    .jumbotron-bio {
        
        margin-top: 0;
        
        
        
    }
    

    .album-bio, .album-bio-wizkid, .album-bio-jonas{
        
        margin-top: 0px;
       margin-left: 0px;
       padding-left: 30px;
       padding-right: 20px;
    }

.playlist{
    padding-left: 0px;
    padding-right: 0px;
    
}

    table {
        visibility: visible;
        text-align: left;
        height: 100%;
        
         
    }

    .table thead tr th, .table tbody tr td, .table tbody tr th {
        border: none;
        padding: 5px;
    }
    .table thead tr th {
        text-indent: -9999px;
    }


    .table-wrap-kranium {
        background-image: url('../styles/afbeeldingen/kranium-groot.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 50px;
        padding-right:50px;
        padding-bottom: 20px; 
    }

    .table-wrap-wizkid {
        background-image: url('../styles/afbeeldingen/wizkid-groot.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px; 
    }

    .table-wrap-jonas {
        background-image: url('../styles/afbeeldingen/jonas-groot.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 20px; 
    }

    .table tbody tr:hover{
        background-color: #1e1e1e;
        
    }

    .flex-reverse{
        flex-direction: row-reverse;
    }
    
    
    
    
   
    
   
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {

    .album-bio{
        
        padding-left: 60px;
        padding-right: 40px;
    }

    .album-info{
        padding: 10px;
    }
    .btn-outline-secondary {
        margin-top: 70px;
        padding: 10px;
        font-size: 14px;
     }
}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {

    .album-info{
        padding-top: 20px;
        
    }
    .album-bio{
        padding-right: 40px;
    }

    .btn-outline-secondary {
        margin-top: 120px;
        padding: 10px;
        font-size: 14px;
     }
}